
@{
    ViewBag.Title = "Index";
}

<h2></h2>

<main id="main">
    <!--==========================
      Services Section
    ============================-->
    <section id="services">
        <div class="container wow fadeIn">
            <div class="section-header">
                <h3 class="section-title">Services</h3>
                <p class="section-description"></p>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="box">
                        <div class="icon"><a href="/Event/timeList"><i class="fa fa-list-alt"></i></a></div>
                        <h4 class="title"><a href="/Event/timeList">Event Date / Time</a></h4>
                        <p class="description" style="font-family: 'Microsoft JhengHei',  Arial, serif;">可以檢視、新增、修改及刪除您的事件資料</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="box">
                        <div class="icon"><a href="/Event/Statistics"><i class="fa fa-bar-chart"></i></a></div>
                        <h4 class="title"><a href="/Event/Statistics">Statistics</a></h4>
                        <p class="description" style="font-family: 'Microsoft JhengHei',  Arial, serif;">統計及分析您的時間運用</p>
                    </div>
                </div>
  
            </div>

        </div>
    </section><!-- #services -->

</main>